/* Coomon */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}
/* Fine Coomon */



/* Header */
header{
    background-color: #fff;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 15px;
}

.nav-bar.clearfix{
    width: 100%;
}

.nav-bar-sx{
    float: left;
}

.nav-bar-dx{
    float: right;
}

nav img{
    vertical-align: middle;
    margin-right: 20px;
}

li{
    display: inline-block;
}

li a{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}

.here:hover{
    
}

.nav-bar-logo:hover{
    background-color: transparent;
    cursor: pointer;
}

.btn{
    background-color: #0070e0;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

/* Fine Header */



/* Jumbotron */
#jumbotron{
    background-color: #99c0ff;
    height: 700px;
}

.title-jumbotron{
    font-size: 40px;
    font-weight: 700;
    padding-top: 150px;
}

.text-jumbotron{
    width: 30%;
    float: left;
}

.image-jumbotron{
    float: right;
}

.image{
    width: 700px;
    margin-top: 50px;
}

.btn-big{
    padding: 16px 32px;
}

.text-jumbotron p{
    margin: 30px 0px;
}

.fas{
    color: #000;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 5px;
}
/* Fine Jumbotron */



/* Main */
/* First part */
.container-first-part{
    height: 100%;
    margin: 150px auto;
}

/* Title First part */
#prima h2{
    font-size: 30px;
}

.pallini{
    margin-top: 30px;
}

.checkbox .pallino{ 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.checkbox .pallino.blu{
    border: solid 5px #0070e0; 
}

.checkbox .pallino.bianco{
    border: solid 1px #ccc;
    margin-left: 15px;
}
/* Fine Title First part */

.container-first-part .col{
    min-height: 1000px;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    width: 30%;
}

.container-first-part .title{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

i.fas.fa-check{
    color: #0070e0;
}
/* Col left First part */
.internal-col-left{
    padding: 15px;
}

.type{
    padding: 15px 0px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

i.far.fa-user.one{
    margin-right: 10px;
}

.offer{
    margin-top: 20px;
}

.title-offer{
    font-size: 20px;
}

p.price{
    margin: 5px 0px;
    font-weight: 600;
}

p.rate.text-small{
    color: #ddd;
}

.list-offer{
    margin: 40px 0px;
}

.list-offer li{
    margin: 10px 0px;
}

.now{
    color: #0070e0;
}

.highlights{
    margin: 40px 0px;
}

h4{
    margin: 20px 0px;
}

.highlights li{
    margin: 10px 0px;
}
/* Fine Col left First part */

/* Col center First part */
.container-first-part .col-center{
    margin: 0 5%;
}

.internal{
    height: 100%;
    padding: 15px;
}

i.far.fa-building{
    margin-right: 10px;
}
/* Fine Col center First part */

/* Col right First part */

/* Team First part */
.first.team{
    border: 1px solid #ccc;
}

.content-team{
    padding: 15px;
}

p.enterprise-bold{
    font-size: 16px;
    font-weight: bold;
}

p.enterprise-light{
    font-size: 16px;
}

.btn-office{
    float: right;
    margin-top: -55px;
}


/* FineTeam First part */
/* Fine First part */



/* Second part */
.container-second-part{
    margin: 150px auto;
    height: 500px;
    width: calc(100% - 30px);
}

.image-partner{
    float: left;
    width: 60%;
    height: 500px;
    background-image: url('img/partner.png');
    background-size: cover;
}

.text-second{
    float: right;
    width: 40%;
    padding: 30px 65px;
}

.btn-white{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    padding: 16px 32px;
}

.text-second p{
    margin-bottom: 40px;
}

.text-second h2{
    margin-bottom: 20px;
}
/* Fine Second part */

/* Third part */
.container-third-part{
    height: 1000px;
    margin: 150px auto;
}

.title.third h2{
    font-size: 30px;
}

.container-third-part .title{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.container-third-part .frame-third{
    width: 30%;
    height: 500px;
    padding: 15px;
}

.frame-third.col-center{
    margin: 0 5%;
}

.frame-third{
    float: left;
}

.image-third img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-third h3{
    margin-bottom: 20px;
}

.text-third-black{
    color: #000;
}
/* Fine Third part */

/* Fourth part */
.container-fourth-part{
    margin: 150px auto;
}

.title.fourth h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.title.fourth a{
    color: #0070e0;
}

.container-fourth-part .title{
    width: 40%;
    margin-bottom: 20px;
}
/* Fine Fourth part */

/* Fifth part */
.container-fifth-part{
    background-color: aquamarine;
}

.col-side-fifth{
    float: left;
    width: 30vw;
    height: 30vw;
}

.col-side-fifth .item{
    background-color: blue;
    border: solid 5px red;
    float: left;
    height: 15vw;
    width: 15vw;
    text-align: center;
    line-height: 15vw;
}

.col-center-fifth{
    float: left;
    width: calc(100% - 60vw);
    height: 30vw;
    overflow-y: auto;
    background-color: grey;
    margin: 0px;
}
/* Fine Fifth part */

/* Sixth part */
.container-sixth-part{
    background-color: #b4d0e7;
    height: 250px;
    padding: 80px;
}

.text-fifth{
    width: 40%;
    height: 100px;
    float: left;
}

.text-fifth h2{
    font-size: 30px;
    color: #61082b;
}

.btn-sixth .btn-white-sixth{
    float: right;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 64px;
}


/* Fine Sixth part */

/* Seven part*/
.container-seven-part{
    margin: 100px auto;
}

.container-seven-part h2{
    font-size: 25px;
    margin: 40px 0px;
}

.question-seven .text-seven-left{
    float: left;
}

.text-seven-left{
    padding: 20px 0px;
}

.question-seven .down-seven-right{
    float: right;
    width: 5%;
}

.question-seven.border-top{
    border-top: 1px solid black;
}
/* Fine Seven part*/
/* Fine Main */

/* Footer */
footer{
    background-color: #000;
}

.col-footer{
    color: #fff;
    height: 100%;
    width: calc(90%/5);
    float: left;
    margin: 0px 10px 0px 10px;
}

.title-footer{
    margin-top: 50px;
}

h2.title-footer{
    font-size: 20px;
    margin-bottom: 20px;
}

li.link-footer{
    display: block;
    font-size: 15px;
    margin: 5px 0px;
}

.link-footer a{
    padding: 0px;
}

.footer-line{
    width: 60%;
}

.languages{
    margin-top: 100px;
}

i.fas.fa-globe-europe{
    color: #fff;
}

.italiano span{
    color: #ddd;
    font-size: 13px;
}

i.fas.fa-sort-up{
    color: #ddd;
    font-size: 13px;
}

.italiano{
    margin: 40px 0px;
}

/* Fine Footer */
