/* Coomon */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}
/* Fine Coomon */

/* Header */
header{
    background-color: #fff;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 15px;
}

.nav-bar.clearfix{
    width: 100%;
}

.nav-bar-sx{
    float: left;
}

.nav-bar-dx{
    float: right;
}

nav img{
    vertical-align: middle;
    margin-right: 20px;
}

li{
    display: inline-block;
}

li a{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}

.here:hover{
    
}

.nav-bar-logo:hover{
    background-color: transparent;
    cursor: pointer;
}

.btn{
    background-color: #0070e0;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

/* Fine Header */

/* Jumbotron */
#jumbotron{
    background-color: #99c0ff;
    height: 700px;
}

.title-jumbotron{
    font-size: 40px;
    font-weight: 700;
    padding-top: 150px;
}

.text-jumbotron{
    width: 30%;
    float: left;
}

.image-jumbotron{
    float: right;
}

.image{
    width: 700px;
    margin-top: 50px;
}

.btn-big{
    padding: 16px 32px;
}

p{
    margin: 30px 0px;
}

.fas{
    color: #000;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 5px;
}
/* Fine Jumbotron */

/* Main */
/* First part */
.container-first-part{
    background-color: red;
    height: 300px;
    margin: 150px auto;
}

.container-first-part .first{
    background-color: cyan;
}

#prima h2{
    font-size: 30px;
}

#prima .checkbox{
    
}

.text-checkbox{
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
}

.pallino-blu{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 5px #0070e0;
    border-radius: 50%;
}

.pallino-bianco{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #ccc;
    border-radius: 50%;
}

.container-first-part .col{
    height: 400px;
    float: left;
    margin-bottom: 20px;
    width: 30%;
}

.container-first-part .title{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.first.team{
    height: 100px;
}

.container-first-part .col-center{
    margin: 0 5%;
}

.internal{
    height: 100%;
}

/* Fine First part */

/* Second part */
.container-second-part{
    background-color: green;
    margin: 150px auto;
}

.image-second{
    width: 50%;
    background-color: blue;
    height: 500px;
    float: left;
}

.text-second{
    width: 40%;
    background-color: red;
    height: 500px;
    float: right;
}
/* Fine Second part */

/* Third part */
.container-third-part{
    background-color: yellow;
    height: 300px;
    margin: 150px auto;
}

.container-third-part .third{
    background-color: red;
}

.container-third-part .title{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.container-third-part .frame-third{
    background-color: red;
    width: 30%;
    height: 500px;
    padding: 15px;
}

.frame-third.col-center{
    margin: 0 5%;
}

.frame-third{
    float: left;
}

.image-third{
    width: 100%;
    height: 300px;
    background-color: blue;
}
/* Fine Third part */

/* Fourth part */
.container-fourth-part{
    margin: 150px auto;
}

.container-fourth-part .fourth{
    background-color: yellow;
}

.container-fourth-part .title{
    height: 100px;
    width: 40%;
    margin-bottom: 20px;
}
/* Fine Fourth part */

/* Fifth part */
.container-fifth-part{
    background-color: aquamarine;
}

.col-side-fifth{
    float: left;
    width: 30vw;
    height: 30vw;
}

.col-side-fifth .item{
    background-color: blue;
    border: solid 5px red;
    float: left;
    height: 15vw;
    width: 15vw;
    text-align: center;
    line-height: 15vw;
}

.col-center-fifth{
    float: left;
    width: calc(100% - 60vw);
    height: 30vw;
    overflow-y: auto;
    background-color: grey;
    margin: 0px;
}
/* Fine Fifth part */

/* Sixth part */
.container-sixth-part{
    background-color: yellow;
    height: 230px;
    padding-top: 50px;
}

.text-fifth{
    width: 40%;
    background-color: blue;
    height: 100px;
    float: left;
}

.btn-white{
    width: 40%;
    background-color: blue;
    height: 100px;
    float: right;
}

/* Fine Sixth part */

/* Seven part*/
.container-seven-part{
    height: 500px;
    margin: 150px auto;
    background-color: aqua;
}
/* Fine Seven part*/
/* Fine Main */

/* Footer */
footer{
    background-color: grey;
    height: 600px;
}

.container-footer{
   
}

.col-footer{
    background-color: green;
    height: 100%;
    width: calc(90%/5);
    float: left;
    margin: 0px 10px 0px 10px;
}
/* Fine Footer */
